Django==3.0.8
django-cors-headers==3.2.1
django-environ==0.4.5
django-filter==2.2.0
django-rest-swagger==2.1.2
djangorestframework==3.11.0
fcm-django==0.3.4
idna==2.9
Markdown==3.2.1
MarkupSafe==1.1.1
Pillow==7.1.1
pyfcm==1.4.7
requests==2.23.0
simplejson==3.17.0
