{% extends 'main_admin/base.html' %}
{% block content %}
{% load static %}
<script src="https://cdn.ckeditor.com/4.14.1/full-all/ckeditor.js"></script>
{% comment %} <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"> {% endcomment %}
<link type="text/css" rel="stylesheet" href="{% static 'main_admin/css/search-style.css' %}"/>
<section class="wrapper">
	<div class="form-w3layouts">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        {{ task }} Product
                    </header>
                    <div class="panel-body">
                        {% if msg %}
                            <div class="alert alert-warning radius-both">
                                <p style="color:red;">{{ msg }}</p>
                            </div>
                        {% endif %}
                        <form class="form-horizontal bucket-form" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Main Category</label>
                                <div class="col-sm-6">
                                    <select class="form-control m-bot15" name="main_category_id" id="main_category_id" onchange="get_category('main_category_id', 'category_id')" required>
                                        <option value="" readonly>Select Main Category</option>
                                        {% for main_category in main_categories %}
                                            <option value="{{ main_category.pk }}" 
                                            {% if product.main_category_id == main_category.pk %}
                                                selected
                                            {% endif %}>{{ main_category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Category</label>
                                <div class="col-sm-6">
                                    <select class="form-control m-bot15" name="category_id" id="category_id" onchange="get_sub_category('category_id', 'sub_category_id')" required>
                                        <option value="" readonly>Select Category</option>
                                        {% for category in categories %}
                                            <option value="{{ category.pk }}" 
                                            {% if product.category_id == category.pk %}
                                                selected
                                            {% endif %}>{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Sub Category</label>
                                <div class="col-sm-6">
                                    <select class="form-control m-bot15" name="sub_category_id" id="sub_category_id" required>
                                        <option value="" readonly>Select Sub Category</option>
                                        {% for sub_category in sub_categories %}
                                            <option value="{{ sub_category.pk }}" 
                                            {% if product.sub_category_id == sub_category.pk %}
                                                selected
                                            {% endif %}>{{ sub_category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Title</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="title" id="title" value="{{ product.title }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control" name="description" id="description">{{ product.description }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Quantity</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" name="qty" id="qty" value="{{ product.qty }}" step="0.1" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">available quantity</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" name="available_qty" id="available_qty" value="{{ product.available_qty }}" step="0.1" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Price</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" name="price" id="price" value="{{ product.price }}" step="0.1" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Images
                                            <span class="tools pull-right">
                                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                            </span>
                                        </header>
                                        <div class="panel-body images">
                                            <div id="image_list">
                                            {{ image_form.management_form }}
                                            {% if product.images.all|length > 0 %}
                                            {% for image in product.images.all %}
                                            <div class="row" id="image_{{ forloop.counter0 }}">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Image {{ forloop.counter }}</label>
                                                    <div class="col-sm-6">
                                                        <input type="file" name="form-{{ forloop.counter0 }}-src" accept="image/*" class="form-control" id="id_form-{{ forloop.counter0 }}-src" onchange="loadImage(event,'id_form-{{ forloop.counter0 }}-src_preview')" value="{{ image.pk }}">
                                                        <input type="hidden" name="form-{{ forloop.counter0 }}-id" id="id_form-{{ forloop.counter0 }}-id" value="{{ image.pk }}">
                                                        <img id="id_form-{{ forloop.counter0 }}-src_preview" src="{% if image.src %}{{ image.src.url }}{% endif %}" height="150" width="150"/>
                                                    </div>
                                                    <div class="col-md-2 form-group remove">
                                                        <div class="btn btn-danger" onclick="remove_more_image('image_{{ forloop.counter0 }}')"><i class='fa fa-times'></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% else %}
                                                <div class="row" id="image_0">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Image 1</label>
                                                        <div class="col-sm-6">
                                                            <input type="file" name="form-0-src" accept="image/*" class="form-control" id="id_form-0-src" onchange="loadImage(event,'id_form-0-src_preview')" >
                                                            <input type="hidden" name="form-0-id" id="id_form-0-id" value="">
                                                            <img id="id_form-0-src_preview" src="" height="150" width="150"/>
                                                        </div>
                                                        <div class="col-md-2 form-group remove">
                                                            <div class="btn btn-danger" onclick="remove_more_image('image_0')"><i class='fa fa-times'></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            </div>
                                            <div class="btn btn-info" id="more_image" onclick="get_more_image(event)" data-cnt="{{ product.images.all|length|default:'1' }}">Add More</i></div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Additional Informations
                                            <span class="tools pull-right">
                                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                            </span>
                                        </header>
                                        <div class="panel-body additional_informations">
                                            <div id="info_list">
                                            {% if product.additional_information.all|length > 0 %}
                                                {% for additional_info in product.additional_information.all %}
                                                <div class="row" id="info_{{ forloop.counter0 }}">
                                                    <div class="col-md-4 form-group" >
                                                        <input type="text" class="form-control" name="info_title_{{ additional_info.pk }}" placeholder="Enter Title" value="{{ additional_info.title }}" required>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <input type="text" class="form-control" name="info_description_{{ additional_info.pk }}" placeholder="Enter Description" value='{{ additional_info.description }}' required>
                                                    </div>
                                                    <div class="col-md-2 form-group remove">
                                                        <div class="btn btn-danger" onclick="remove_more_info('info_{{ forloop.counter0 }}')"><i class='fa fa-times'></i></div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="row" id="info_0">
                                                    <div class="col-md-4 form-group" >
                                                        <input type="text" class="form-control" name="new_info_title_0" placeholder="Enter Title" value=""  required>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <input type="text" class="form-control" name="new_info_description_0" placeholder="Enter Description" value='' required>
                                                    </div>
                                                    <div class="col-md-2 form-group remove">
                                                        <div class="btn btn-danger" onclick="remove_more_info('info_0')"><i class='fa fa-times'></i></div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            </div>
                                            <div class="btn btn-info" id="more_info" onclick="get_more_info(event)" data-cnt="{{ product.additional_information.all|length|default:'1' }}">Add More</i></div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Social Links
                                            <span class="tools pull-right">
                                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                            </span>
                                        </header>
                                        <div class="panel-body social_links">
                                            <div id="social_list">
                                            {% if product.social_links.all|length > 0 %}
                                                {% for social_link in product.social_links.all %}
                                                <div class="row" id="social_{{ forloop.counter0 }}">
                                                    <div class="col-md-6 form-group">
                                                        <div class="input-group">
                                                            <label class="col-sm-1 control-label">{{ forloop.counter }}</label>
                                                            <span class="input-group-addon btn-white"><i class="{{ social_link.social_icon }}"></i></span>
                                                            <input type="hidden" name="social_icon_{{ social_link.pk }}" value="{{ social_link.social_icon }}">
                                                            <input type="text" class="form-control" name="social_link_{{ social_link.pk }}" placeholder="Enter Link" value='{{ social_link.link }}' required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 form-group remove">
                                                        <div class="btn btn-danger" onclick="remove_more_social('social_{{ forloop.counter0 }}', 'social_opt_{{ forloop.counter0 }}')"><i class='fa fa-times'></i></div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="row" id="social_0">
                                                    <div class="col-md-6 form-group">
                                                        <div class="input-group">
                                                            <label class="col-sm-1 control-label">1</label>
                                                            <span class="input-group-addon btn-white"><i class="fas fa-external-link-alt"></i></span>
                                                            <input type="hidden" name="new_social_icon_0" value="fas fa-external-link-alt">
                                                            <input type="text" class="form-control" name="new_social_link_0" placeholder="Enter Link" value='' required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 form-group remove">
                                                        <div class="btn btn-danger" onclick="remove_more_social('social_0', 'social_opt_0')"><i class='fa fa-times'></i></div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            </div>
                                            <div class="btn btn-info" id="more_social" onclick="get_more_social(event)" data-cnt="{{ product.social_links.all|length|default:'1' }}">Add More</i></div>
                                            <div class="row">
                                                <div class="col-md-2 form-group" style="margin-top:10px;" >
                                                    <select class="form-control" name="social_link_id" id="social_link_id">
                                                        <option value="" readonly>Select Link No.</option>
                                                        {% if product.social_links.all|length > 0 %}
                                                        {% for social_link in product.social_links.all %}
                                                            <option id="social_opt_{{ forloop.counter0 }}" value="social_{{ forloop.counter0 }}" >{{ forloop.counter }}</option>
                                                        {% endfor %}
                                                        {% else %}
                                                            <option id="social_opt_0" value="social_0" >1</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="col-md-10 form-group" style="margin-top:10px;" >
                                                    <input type="text" class="form-control" id="search" name="search" placeholder="Enter icon" value="" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="row">
                                            <div class="list" style="max-height: 250px;overflow-y: auto;">
                                                <ul class="icons"></ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-6">
                                    <select class="form-control m-bot15" name="status" id="status">
                                        <option value="{{ CONST.STATUS_CHOICES.0.0 }}" selected>{{ CONST.STATUS_CHOICES.0.1 }}</option>
                                        <option value="{{ CONST.STATUS_CHOICES.1.0 }}" 
                                        {% if product.status == CONST.STATUS_CHOICES.1.0 %}
                                            selected
                                        {% endif %}
                                            >{{ CONST.STATUS_CHOICES.1.1 }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-info">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static 'main_admin/js/icons.js' %}"></script>
<script type="text/javascript" src="{% static 'main_admin/js/aliases.js' %}"></script>
<script type="text/javascript" src="{% static 'main_admin/js/search-script.js' %}"></script>
<script>
    CKEDITOR.replace('description');
</script>
{% endblock content %}
