{% load static %}
<!DOCTYPE html>

<head>
  <title>Admin | {{ app_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link type="text/css" rel="stylesheet" href="{% static 'main_admin/css/bootstrap.min.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'main_admin/css/style.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'main_admin/css/style-responsive.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'main_admin/css/font.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'user/fontawesome/css/all.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'main_admin/css/custom.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'main_admin/css/jquery-ui.css' %}" />
  {% comment %} <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' /> {% endcomment %}

  <script type="text/javascript" src="{% static 'main_admin/js/jquery2.0.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main_admin/js/jquery-ui.js' %}"></script>
</head>

<body>
  <section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
      <!--logo start-->
      <div class="brand">
        <a href="index.html" class="logo">
          VISITORS
        </a>
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars"></div>
        </div>
      </div>
      <!--logo end-->
      <div class="top-nav clearfix">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
          <li><a href="{% url 'user:home' %}"><i class="fa fa-home"></i></a></li>
          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <img alt="" src="{{ user.profile_pic.url }}">
              <span class="username">{{ user.get_short_name }}</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <li><a href="{% url 'auth:profile' %}"><i class="fa fa-suitcase"></i>Profile</a></li>
              <li><a href="{% url 'auth:logout' %}"><i class="fa fa-key"></i> Log Out</a></li>
            </ul>
          </li>
          <!-- user login dropdown end -->

        </ul>
        <!--search & user info end-->
      </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
          <ul class="sidebar-menu" id="nav-accordion">
            <li>
              <a href="{% url 'main_admin:dashboard' %}" class="{% if active == 'dashboard' %}
                            active
                            {% endif %}">
                <i class="fa fa-tachometer-alt" aria-hidden="true"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" class="{% if active == 'main_category' %}
                            active
                            {% endif %}">
                <i class="fa fa-book"></i>
                <span>Main Category</span>
              </a>
              <ul class="sub">
                <li><a href="{% url 'main_admin:add-main-category' %}"><i class="fas fa-plus"></i> Add Main Category</a></li>
                <li><a href="{% url 'main_admin:view-main-category' %}"><i class="far fa-eye"></i> View Main Category</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" class="{% if active == 'category' %}
                            active
                            {% endif %}">
                <i class="fa fa-book"></i>
                <span>Category</span>
              </a>
              <ul class="sub">
                <li><a href="{% url 'main_admin:add-category' %}"><i class="fas fa-plus"></i> Add Category</a></li>
                <li><a href="{% url 'main_admin:view-category' %}"><i class="far fa-eye"></i> View Category</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" class="{% if active == 'sub_category' %}
                            active
                            {% endif %}">
                <i class="fa fa-book"></i>
                <span>Sub Category</span>
              </a>
              <ul class="sub">
                <li><a href="{% url 'main_admin:add-sub-category' %}"><i class="fas fa-plus"></i> Add Sub Category</a></li>
                <li><a href="{% url 'main_admin:view-sub-category' %}"><i class="far fa-eye"></i> View Sub Category</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" class="{% if active == 'product' %}
                            active
                            {% endif %}">
                <i class="far fa-gem"></i>
                <span>Product</span>
              </a>
              <ul class="sub">
                <li><a href="{% url 'main_admin:add-product' %}"><i class="fas fa-plus"></i> Add Product</a></li>
                <li><a href="{% url 'main_admin:view-product' %}"><i class="far fa-eye"></i> View Product</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" class="{% if active == 'offer' %}
                            active
                            {% endif %}">
                <i class="fas fa-gift"></i>
                <span>Offer</span>
              </a>
              <ul class="sub">
                <li><a href="{% url 'main_admin:add-offer' %}"><i class="fas fa-plus"></i> Add Offer</a></li>
                <li><a href="{% url 'main_admin:view-offer' %}"><i class="far fa-eye"></i> View Offer</a></li>
              </ul>
            </li>
            <li>
              <a href="{% url 'main_admin:view-user' %}" class="{% if active == 'user' %}
                active
                {% endif %}">
                <i class="fas fa-users"></i>
                <span>Users</span>
              </a>
            </li>
            <li>
              <a href="{% url 'main_admin:view-contact' contact_type=CONST.POST_REQUIRMENT %}" class="{% if active == 'post_requirements' %}
                            active
                            {% endif %}">
                <i class="fas fa-mail-bulk"></i>
                <span>Post Requirements</span>
              </a>
            </li>
            <li>
              <a href="{% url 'main_admin:view-contact' contact_type=CONST.CONTACT_US %}" class="{% if active == 'contact_us' %}
                            active
                            {% endif %}">
                <i class="fas fa-id-card"></i>
                <span>Contact Us</span>
              </a>
            </li>
            <li>
              <a href="{% url 'main_admin:view-orders' %}" class="{% if active == 'orders' %}
                            active
                            {% endif %}">
                <i class="fas fa-shopping-cart"></i>
                <span>Orders</span>
              </a>
            </li>
            <li>
              <a href="{% url 'main_admin:view-payments' %}" class="{% if active == 'payments' %}
                            active
                            {% endif %}">
                <i class="far fa-money-bill-alt"></i>
                <span>Payments</span>
              </a>
            </li>
            <li>
              <a href="{% url 'main_admin:view-reviews' %}" class="{% if active == 'reviews' %}
                            active
                            {% endif %}">
                <i class="far fa-comment-dots"></i>
                <span>Reviews</span>
              </a>
            </li>
            <li>
              <a href="{% url 'main_admin:view-feedbacks' %}" class="{% if active == 'feedbacks' %}
                            active
                            {% endif %}">
                <i class="far fa-comment-alt"></i>
                <span>Feedbacks</span>
              </a>
            </li>
            <li>
              <a href="{% url 'main_admin:edit-about-us' %}" class="{% if active == 'about_us' %}
                            active
                            {% endif %}">
                <i class="far fa-address-card"></i>
                <span>Manage About Us</span>
              </a>
            </li>
            <li>
              <a href="{% url 'main_admin:edit-details' detail_type=CONST.FAQ %}" class="{% if active == 'faq' %}
                            active
                            {% endif %}">
                <i class="far fa-question-circle"></i>
                <span>Manage Faq</span>
              </a>
            </li>
            <li>
              <a href="{% url 'main_admin:edit-details' detail_type=CONST.RETURN_POLICY %}" class="{% if active == 'return_policy' %}
                            active
                            {% endif %}">
                <i class="fas fa-vote-yea"></i>
                <span>Manage Return Policy</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
  <!--main content start-->
  <section id="main-content">
    {% block content %}{% endblock content %}

    <!-- footer -->
    <div class="footer">
      <div class="wthree-copyright">
        <p>© 2020 Spyhunter. Design by <a href="https://spyhunter.in/" target="_blank">Spyhunter (Janak Vaghela)</a></p>
      </div>
    </div>
    <!-- / footer -->
  </section>
  <!--main content end-->
  </section>
  <script type="text/javascript" src="{% static 'main_admin/js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'main_admin/js/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script type="text/javascript" src="{% static 'main_admin/js/scripts.js' %}"></script>
  {% comment %} <script type="text/javascript" src="{% static 'main_admin/js/jquery.slimscroll.js' %}"></script> {% endcomment %}
  <script type="text/javascript" src="{% static 'main_admin/js/jquery.nicescroll.js' %}"></script>
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" type="text/javascript" src="{% static 'main_admin/js/flot-chart/excanvas.min.js' %}"></script><![endif]-->
  <script type="text/javascript" src="{% static 'main_admin/js/jquery.scrollTo.js' %}"></script>
  <script type="text/javascript" src="{% static 'main_admin/js/custom.js' %}"></script>
</body>

</html>