{% extends 'main_admin/base.html' %}
{% block content %}
{% load static %}
{% load custom_tag %}
<style>
 a:hover {
    color: blueviolet;
 }
</style>
<!-- chart -->
<link type="text/css" rel="stylesheet" href="{% static 'main_admin/css/morris.css' %}"/>
<script type="text/javascript" src="{% static 'main_admin/js/raphael-min.js' %}"></script>
<script type="text/javascript" src="{% static 'main_admin/js/morris.js' %}"></script>
<!--main content start-->
	<section class="wrapper">
		<!-- //market-->
		<div class="market-updates">
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-1">
					<div class="col-md-4 market-update-right">
						<i class="fa fa-users"></i>
					</div>
					<div class="col-md-8 market-update-left">
						<h4>Users</h4>
						<h3>{{ user_count }}</h3>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-3">
					<div class="col-md-4 market-update-right">
						<i class="far fa-gem" aria-hidden="true"></i>
					</div>
					<div class="col-md-8 market-update-left">
						<h4>Product</h4>
						<h3>{{ product_count }}</h3>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-4">
					<div class="col-md-4 market-update-right">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</div>
					<div class="col-md-8 market-update-left">
						<h4>Orders</h4>
						<h3>{{ order_count }}</h3>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-2">
					<div class="col-md-4 market-update-right">
						<i class="far fa-money-bill-alt"> </i>
					</div>
					<div class="col-md-8 market-update-left">
						<h4>Payment</h4>
						<h3>{{ payment_count }}</h3>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //market-->
		<div class="row">
			<div class="panel-body">
				<div class="col-md-12 w3ls-graph">
					<!--agileinfo-grap-->
					<div class="agileinfo-grap">
						<div class="agileits-box">
							<header class="agileits-box-header clearfix">
								<h3>Last 30 day's Income</h3>
								<div class="toolbar">
								</div>
							</header>
							<div class="agileits-box-body clearfix">
								<div id="hero-area-income"></div>
							</div>
						</div>
					</div>
					<!--//agileinfo-grap-->
				</div>
			</div>
		</div>
		<!-- //market-->
		<div class="row">
			<div class="panel-body">
				<div class="col-md-12 w3ls-graph">
					<!--agileinfo-grap-->
					<div class="agileinfo-grap">
						<div class="agileits-box">
							<header class="agileits-box-header clearfix">
								<h3>Last 30 day's Sale</h3>
								<div class="toolbar">
								</div>
							</header>
							<div class="agileits-box-body clearfix">
								<div id="hero-area-sale"></div>
							</div>
						</div>
					</div>
					<!--//agileinfo-grap-->

				</div>
			</div>
		</div>
		<!-- Monthly tasks -->
		<div class="agile-last-grids">
			<div class="col-md-6 agile-last-left">
				<div class="agile-last-grid">
					<div class="area-grids-heading">
						<h3>Monthly Income</h3>
					</div>
					<div id="monthly-income"></div>
					<script>
						Morris.Area({
							element: 'monthly-income',
							data: {{ last_year|safe }},
							xkey: 'date',
							ykeys: ['total_income'],
							labels: ['Total Income'],
							parseTime: false
						});
					</script>

				</div>
			</div>
			<div class="col-md-6 agile-last-left agile-last-right">
				<div class="agile-last-grid">
					<div class="area-grids-heading">
						<h3>Monthly Sale</h3>
					</div>
					<div id="monthly-sale"></div>
					<script>
						Morris.Line({
							element: 'monthly-sale',
							data: {{ last_year|safe }},
							xkey: 'date',
							ykeys: ['total_sale'],
							labels: ['Total Sale'],
							parseTime: false
						});
					</script>

				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //Monthly tasks -->
		<!-- Yearly tasks -->
		<div class="agile-last-grids" style="margin-top:20px">
			<div class="col-md-6 agile-last-left">
				<div class="agile-last-grid">
					<div class="area-grids-heading">
						<h3>Yearly Income</h3>
					</div>
					<div id="yearly-income"></div>
					<script>
						Morris.Area({
							element: 'yearly-income',
							data: {{ overall|safe }},
							xkey: 'timestamp__year',
							ykeys: ['total_income'],
							labels: ['Total Income'],
							parseTime: false
						});
					</script>

				</div>
			</div>
			<div class="col-md-6 agile-last-left agile-last-right">
				<div class="agile-last-grid">
					<div class="area-grids-heading">
						<h3>Yearly Sale</h3>
					</div>
					<div id="yearly-sale"></div>
					<script>
						Morris.Line({
							element: 'yearly-sale',
							data: {{ overall|safe }},
							xkey: 'timestamp__year',
							ykeys: ['total_sale'],
							labels: ['Total Sale'],
							parseTime: false
						});
					</script>

				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //Yearly tasks -->
		<div class="agileits-w3layouts-stats">
			<div class="col-md-12 stats-info stats-last widget-shadow">
				<div class="stats-last-agile">
					<header class="agileits-box-header clearfix">
						<h3>Latest Payments</h3>
						<div class="toolbar">
						</div>
					</header>
					<table class="table stats-table ">
						<thead>
							<tr>
								<th>#</th>
								<th>Receipt</th>
								<th>Order Id</th>
								<th>User</th>
								<th>Products</th>
								<th>Price</th>
								<th>Time</th>
								<th>Status</th>
								<th>Track Order</th>
								<th>Bill</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for payment in top_payments %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td>{{ payment.payment_order.receipt }}</td>
									<td>{{ payment.payment_order.razorpay_order_id }}</td>
									<td><a href="{% url 'main_admin:edit-user' pk=payment.user.pk %}">{{ payment.user.get_full_name }}</a></td>
									<td>
									{% for order in payment.payment_order.order.all %}
										<a href="{% url 'main_admin:edit-product' pk=order.product.pk %}">{{ order.product.title }}</a>{% if not forloop.last %}, {% endif %}
									{% endfor %}
									</td>
									<td>{{ payment.payment_order.price }}</td>
									<td>{{ payment.timestamp }}</td>
									<td>
										{% if payment.get_status_display == 'Paid' %}
											<span class="label label-success">{{ payment.get_status_display }}</span>
										{% elif payment.get_status_display == 'Pending' %}
											<span class="label label-primary">{{ payment.get_status_display }}</span>
										{% elif payment.get_status_display == 'Processing' %}
											<span class="label label-info">{{ payment.get_status_display }}</span>
										{% elif payment.get_status_display == 'Cancelled' %}
											<span class="label label-warning">{{ payment.get_status_display }}</span>
										{% elif payment.get_status_display == 'Failed' %}
											<span class="label label-danger">{{ payment.get_status_display }}</span>
										{% endif %}
									</td>
									<td>{{ payment.payment_order.get_track_order_status_display }}</td>
									<td>
										{% if payment.get_status_display == 'Paid' %}
											<a class="btn btn-success" href="{% url 'user:invoice' pk=payment.pk %}" target="_blank">Download</a>
										{% endif %}
									</td>
									<td>
										<a href="{% url 'main_admin:edit-payment' pk=payment.pk %}" style="margin-right:10px;">
											<i class="fa fa-edit text-success ml-2"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</section>
<!-- morris JavaScript -->
<script>
    $(document).ready(function () {
      //BOX BUTTON SHOW AND CLOSE
      jQuery('.small-graph-box').hover(function () {
        jQuery(this).find('.box-button').fadeIn('fast');
      }, function () {
        jQuery(this).find('.box-button').fadeOut('fast');
      });
      jQuery('.small-graph-box .box-close').click(function () {
        jQuery(this).closest('.small-graph-box').fadeOut(200);
        return false;
      });

      //CHARTS
      function gd(year, day, month) {
        return new Date(year, month - 1, day).getTime();
      }

    graphArea2 = Morris.Area({
        element: 'hero-area-income',
        padding: 10,
        behaveLikeLine: true,
        gridEnabled: false,
        gridLineColor: '#dddddd',
        axes: true,
        resize: true,
        smooth: true,
        pointSize: 0,
        lineWidth: 0,
        fillOpacity: 0.85,
        data: {{ last_month|safe }},
        lineColors: ['#926383'],
        xkey: 'date',
        redraw: true,
        ykeys: ['total_income'],
        labels: ['Total Income'],
        pointSize: 4,
        hideHover: 'auto',
        resize: true
      });

	graphArea3 = Morris.Area({
        element: 'hero-area-sale',
        padding: 10,
        behaveLikeLine: true,
        gridEnabled: false,
        gridLineColor: '#dddddd',
        axes: true,
        resize: true,
        smooth: true,
        pointSize: 0,
        lineWidth: 0,
        fillOpacity: 0.85,
        data: {{ last_month|safe }},
        lineColors: ['#eb6f6f'],
        xkey: 'date',
        redraw: true,
        ykeys: ['total_sale'],
        labels: ['Total Sale'],
        pointSize: 4,
        hideHover: 'auto',
        resize: true
      });

    });
  </script>
{% endblock content %}
