{% extends 'main_admin/base.html' %}
{% block content %}
{% load static %}
{% load custom_tag %}
<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                View Orders
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Receipt</th>
                            <th>User</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Time</th>
                            <th>Payment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{% get_no orders.paginator.per_page orders.number forloop.counter %}</td>
                                <td>{{ order.payment_order.first.receipt }}</td>
                                <td><a href="{% url 'main_admin:edit-user' pk=order.user.pk %}">{{ order.user.get_full_name }}</a></td>
                                <td><a href="{% url 'main_admin:edit-product' pk=order.product.pk %}">{{ order.product.title }}</a></td>
                                <td>{{ order.qty }}</td>
                                <td>{{ order.price }}</td>
                                <td>{{ order.timestamp }}</td>
                                <td>
                                    {% if order.payment_order.first.get_status_display == 'Paid' %}
                                        <span class="badge badge-success">{{ order.payment_order.first.get_status_display }}</span>
                                    {% elif order.payment_order.first.get_status_display == 'Pending' %}
                                        <span class="badge badge-primary">{{ order.payment_order.first.get_status_display }}</span>
                                    {% elif order.payment_order.first.get_status_display == 'Processing' %}
                                        <span class="badge badge-info">{{ order.payment_order.first.get_status_display }}</span>
                                    {% elif order.payment_order.first.get_status_display == 'Cancelled' %}
                                        <span class="badge badge-warning">{{ order.payment_order.first.get_status_display }}</span>
                                    {% elif order.payment_order.first.get_status_display == 'Failed' %}
                                        <span class="badge badge-danger">{{ order.payment_order.first.get_status_display }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        {% comment %} <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small> {% endcomment %}
                    </div>
                    <div class="col-sm-7 text-right text-center-xs">
                        {% if orders.has_other_pages %}
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                            {% if orders.has_previous %}
                                <li><a href="?page={{ orders.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
                            {% else %}
                                <li class="disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            {% endif %}
                            {% for i in orders.paginator.page_range %}
                                {% if orders.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if orders.has_next %}
                                <li><a href="?page={{ orders.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>
                            {% else %}
                                <li class="disabled"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                            {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </footer>
        </div>
    </div>
</section>
{% endblock content %}