{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>{{ app_name }}</title>
    <meta name="keywords" content="diamond, shop, gems, book, spyhunter, janak, vaghela">
    <meta name="description" content="">
    <meta name="author" content="spyhunter - janak vaghela">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'user/images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'user/images/apple-touch-icon.png' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'user/css/responsive.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'user/css/custom.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'user/fontawesome/css/all.css' %}">

    <script type="text/javascript" src="{% static 'user/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/bootstrap.min.js' %}"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                {% for offer in offers %}
                                    <li><i class="fab fa-opencart"></i>{{ offer.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="right-phone-box">
                        <p>Call US :- <a href="#"> {{ about_us.phone }}</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a href="{% url 'user:post-requirment' %}">Post Requirment</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'user:offers' %}">Offers</a></li>
                                <li><a href="{% url 'user:my_account' %}">My Account</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'user/images/logo.png' %}" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item {% if active == 'home' %}
                                active
                            {% endif %}">
                            <a class="nav-link" href="{% url 'user:home' %}">Home</a>
                        </li>
                        <li class="dropdown megamenu-fw {% if active == 'products' %}
                            active
                            {% endif %}">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Product <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        {% for row in main_categories %}
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">{{ row.name }}</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        {% for category in row.category.all %}
                                                            <li><a href="{% url 'user:products' main_category_id=row.pk %}">{{ category.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item {% if active == 'about' %}
                            active
                            {% endif %}">
                            <a class="nav-link" href="{% url 'user:about' %}">About Us</a>
                        </li>
                        <li class="nav-item  {% if active == 'contact_us' %}
                            active
                            {% endif %}"><a class="nav-link" href="{% url 'user:contact-us' %}">Contact Us</a></li>
                        {% if user.is_authenticated %}
                            <li class="dropdown {% if active == 'my_account' %}
                                active
                                {% endif %}">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> <img class="img-fluid round_logo" src="{{ user.profile_pic.url }}" /> {{ user.get_short_name }} <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'user:wishlist' %}">Wishlist</a></li>
                                    <li><a href="{% url 'user:cart' %}">Cart</a></li>
                                    <li><a href="{% url 'user:checkout' %}">Checkout</a></li>
                                    <li><a href="{% url 'user:compare' %}">Compare <span class="badge badge-pill badge-info">{{ compare_products|length }}</span></a></li>
                                    <li><a href="{% url 'user:my_account' %}">My Account</a></li>
                                    <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'auth:login' %}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'auth:signup' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">
                            <a href="#"><i class="fas fa-sync-alt"></i><span class="badge">{{ compare_products|length }}</span></a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        {% for product in compare_products %}
                        <li>
                            <a href="{% url 'user:product-details' pk=product.pk %}" class="photo"><img src="{{ product.images.first.src.url }}" class="cart-thumb" alt="{{ product.title }}" /></a>
                            <h6><a href="{% url 'user:product-details' pk=product.pk %}">{{ product.title }}</a></h6>
                            <p>1x - <span class="price"><i class="fas fa-rupee-sign"></i> {{ product.price }}</span></p>
                        </li>
                        {% endfor %}
                        <li>
                            <a href="{% url 'user:compare' %}" class="btn btn-info">Detail View</a>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    {% block content %}{% endblock content %}

    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            {% for row in top_10_products %}
                <div class="item">
                    <div class="ins-inner-box">
                        <img src="{{ row.images.first.src.url }}" alt="{{ row.title }}" />
                        <div class="hov-in">
                            <a href="{{ row.social_links.first.link }}"><i class="{{ row.social_links.first.social_icon }}"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Instagram Feed  -->

    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About ThewayShop</h4>
                            <p>{{ about_us.main_intro }}</p>
                            <ul>
                                {% for row in about_us.social_links.all %}
                                    <li><a href="{{ row.link }}"><i class="{{ row.social_icon }}" aria-hidden="true"></i></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="{% url 'user:about' %}"><i class="fas fa-angle-right"></i> About Us</a></li>
                                <li><a href="{% url 'user:return-policy' %}"><i class="fas fa-angle-right"></i> Return Policy</a></li>
                                <li><a href="{% url 'user:faq' %}"><i class="fas fa-angle-right"></i> FAQ</a></li>
                                <li><a href="{% url 'user:feedback' %}"><i class="fas fa-angle-right"></i> Feedback</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i> Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>{{ about_us.address }}</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:{{  about_us.phone }}">{{ about_us.phone }}</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:{{ about_us.email }}">{{ about_us.email }}</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2020 <a href="#"></a>, Design by <a href="https://spyhunter.in/">Spyhunter</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <!-- ALL PLUGIN -->
    <script type="text/javascript" src="{% static 'user/js/jquery.superslides.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/jquery.nicescroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/bootstrap-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/inewsticker.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/bootsnav.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/images-loded.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/isotope.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/baguetteBox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/form-validator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/contact-form-script.js' %}"></script>
    {% comment %} <script type="text/javascript" src="{% static 'user/fontawesome/js/all.js' %}"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'user/js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/my_script.js' %}"></script>
</body>

</html>