{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load custom_tag %}
<style type="text/css">
.lead {
  font-size: 21px;
  font-height: 120%;
  color: #1f1f1f;
  padding: 15px 0;
}
@media (min-width: 768px){
  .lead {
      font-size: 21px;
  }
}
</style>
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'user:home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if carts|length == 0 %}
                                    <strong class="alert alert-warning">Oops, you didn't add any item in cart yet.</strong>
                                {% endif %}
                                {% for row in carts %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="{% url 'user:product-details' pk=row.product.pk %}"><img class="img-fluid" src="{{ row.product.images.first.src.url }}" alt="{{ row.product.images.first.title }}" /></a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="{% url 'user:product-details' pk=row.product.pk %}">{{ row.product.title }}</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ row.product.price }}</p>
                                    </td>
                                    <td class="quantity-box"><input type="number" size="4" value="{{ row.qty }}" min="1" step="1" name="qty[]" data-product="{{ row.product.pk }}" data-price="{{ row.product.price }}" onchange="update_cart('{{ row.product.pk }}', this.value, event)" class="cart_qty c-input-text qty text"></td>
                                    <td class="total-pr">
                                        <p class="total_price">{{ row.qty|multiply:row.product.price }}</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="{% url 'user:remove-cart' pk=row.pk %}"><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <input class="form-control" id="coupon_code" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-theme" onclick="apply_coupon()" type="button">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12">
                    <h3>Offers</h3>
                    <div class="row">
                        {% if offers|length <= 0 %} <strong class="alert alert-warning">Oops, no related product found!</strong>{% endif %}
                        {% for offer in offers %}
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="listing listing-radius listing-success">
                                <div class="shape">
                                    <div class="shape-text">{{ offer.discount|floatformat }} {{ offer.get_offer_type_display }}</div>
                                </div>
                                <div class="listing-content">
                                    <h3 class="lead">{{ offer.title }}</h3>
                                    <p><b>Coupon Code:</b> <strong>{{ offer.code }}</strong></p>
                                    <p><b>Start Time:</b> {{ offer.start_time }}</p>
                                    <p><b>Remaining Time:</b> {{ offer.end_time|timeuntil }}</p>
                                    <p>Applicable for Minimun Order Price {{ offer.minimun_order_price|floatformat }}.</p>
                                    <p>Get {{ offer.discount|floatformat }} {{ offer.get_offer_type_display }} Discount{% if offer.maximun_discount %} upto {{ offer.maximun_discount|floatformat }}{% endif %}.</p>
                                    <p><b>Description:</b> {{ offer.description }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        <div class="d-flex">
                            <h4>Sub Total</h4>
                            <div class="ml-auto font-weight-bold"><i class="fas fa-rupee-sign"></i> <span id="sub_total">{{ cart_bill.sub_total }}</span></div>
                        </div>
                        <div class="d-flex">
                            <h4>Coupon Discount</h4>
                            <div class="ml-auto font-weight-bold"><i class="fas fa-rupee-sign"></i> <span id="coupon_discount">{{ cart_bill.coupon_discount }}</span></div>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>Tax</h4>
                            <div class="ml-auto font-weight-bold"><i class="fas fa-rupee-sign"></i> <span id="tax">{{ cart_bill.tax }}</span></div>
                        </div>
                        <div class="d-flex">
                            <h4>Shipping Cost</h4>
                            <div class="ml-auto font-weight-bold"><i class="fas fa-rupee-sign"></i> <span id="shipping_cost">{{ cart_bill.shipping_cost }}</span> </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5"><i class="fas fa-rupee-sign"></i> <span id="grand_total">{{ cart_bill.grand_total }}</span> </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-12 d-flex shopping-box"><a href="{% url 'user:checkout' %}" class="ml-auto btn hvr-hover">Checkout</a> </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->
<script type="text/javascript">
$(document).ready(function(){
    $('.cart_qty').change(function (event) {
        const qty = event.target.value;
        const price = event.target.dataset.price;
        const total_product_price = $(event.target).parent().siblings('.total-pr')[0].firstElementChild;
        total_product_price.innerHTML = +price * +qty;
    });
});
</script>
{% endblock content %}
