{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load custom_tag %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Orders</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'user:home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'user:my_account' %}">My Account</a></li>
                        <li class="breadcrumb-item active">Orders</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Orders  -->
    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Date/Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if orders|length == 0 %}
                                    <strong class="alert alert-warning">Oops, you didn't placed any order yet.</strong>
                                {% endif %}
                                {% for row in orders %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="{% url 'user:product-details' pk=row.product.pk %}"><img class="img-fluid" src="{{ row.product.images.first.src.url }}" alt="{{ row.product.images.first.title }}" /></a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="{% url 'user:product-details' pk=row.product.pk %}">{{ row.product.title }}</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ row.price }}</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ row.qty }}</p>
                                    </td>
                                    <td class="total-pr">
                                        <p class="total_price">{{ row.qty|multiply:row.price }}</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ row.timestamp }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Orders -->
{% endblock content %}
