{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load custom_tag %}
<style>
table table {
    width: 100%;
}
table table td {
    border: 2px solid #dee2e6;
    background: #eef8fc;
    color: #000;
    text-align: center;
    cursor: pointer;
}
table table td.active, table table td:hover {
    background: #77A5B9;
}
table table td input {
    display: none;
}
</style>
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Search</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'user:home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Search Diamond</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start search filter  -->
    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                    <form method="get" id="filter_form">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Shape:</th>
                                    <td>
                                    <table>
                                        <tr>
                                        {% for choice in CONST.POLISH_SHAPE_CHOICES %}
                                            {% with "user/images/shape/"|add:choice.1|add:".png" as shape %}
                                            <td class="{% if choice.0|ifinlist:filter_attr.shape %}active{% endif %}"><img class="img-fluid" src="{% static shape %}" alt="{{ choice.1 }}" title="{{ choice.1 }}" /><input type="checkbox" name="shape[]" value="{{ choice.0 }}" {% if choice.0|ifinlist:filter_attr.shape %}checked{% endif %}/></td>
                                            {% endwith %}
                                        {% endfor %}
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Cut:</th>
                                    <td>
                                    <table>
                                        <tr>
                                        {% for choice in CONST.POLISH_CUT_CHOICES %}
                                            <td class="price-pr {% if choice.0|ifinlist:filter_attr.cut %}active{% endif %}">{{ choice.1 }}<input type="checkbox" name="cut[]" value="{{ choice.0 }}" {% if choice.0|ifinlist:filter_attr.cut %}checked{% endif %}/></td>
                                        {% endfor %}
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Symmetry Cut:</th>
                                    <td>
                                    <table>
                                        <tr>
                                        {% for choice in CONST.POLISH_CUT_CHOICES %}
                                            <td class="price-pr {% if choice.0|ifinlist:filter_attr.symmetry_cut %}active{% endif %}">{{ choice.1 }}<input type="checkbox" name="symmetry_cut[]" value="{{ choice.0 }}" {% if choice.0|ifinlist:filter_attr.symmetry_cut %}checked{% endif %}/></td>
                                        {% endfor %}
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Purity:</th>
                                    <td>
                                    <table>
                                        <tr>
                                        {% for choice in CONST.POLISH_PURITY_CHOICES %}
                                            <td class="price-pr {% if choice.0|ifinlist:filter_attr.purity %}active{% endif %}">{{ choice.1 }}<input type="checkbox" name="purity[]" value="{{ choice.0 }}" {% if choice.0|ifinlist:filter_attr.purity %}checked{% endif %}/></td>
                                        {% endfor %}
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Color:</th>
                                    <td>
                                    <table>
                                        <tr>
                                        {% for choice in CONST.POLISH_COLOR_CHOICES %}
                                            <td class="price-pr {% if choice.0|ifinlist:filter_attr.color %}active{% endif %}">{{ choice.1 }}<input type="checkbox" name="color[]" value="{{ choice.0 }}" {% if choice.0|ifinlist:filter_attr.color %}checked{% endif %}/></td>
                                        {% endfor %}
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Fluorescence:</th>
                                    <td>
                                    <table>
                                        <tr>
                                        {% for choice in CONST.POLISH_FLUORESCENCE_CHOICES %}
                                            <td class="price-pr {% if choice.0|ifinlist:filter_attr.fluorescence %}active{% endif %}">{{ choice.1 }}<input type="checkbox" name="fluorescence[]" value="{{ choice.0 }}" {% if choice.0|ifinlist:filter_attr.fluorescence %}checked{% endif %}/></td>
                                        {% endfor %}
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Size:</th>
                                    <td>
                                    <table>
                                        <tr>
                                            <div id="slider-size" class="slider-range"></div>
                                            <p>
                                                <input type="hidden" id="min_size" name="min_size" value="{{ filter_attr.min_size }}">
                                                <input type="hidden" id="max_size" name="max_size" value="{{ filter_attr.max_size }}">
                                                <input type="text" id="size" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                            </p>
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Diameter:</th>
                                    <td>
                                    <table>
                                        <tr>
                                            <div id="slider-diameter" class="slider-range"></div>
                                            <p>
                                                <input type="hidden" id="min_diameter" name="min_diameter" value="{{ filter_attr.min_diameter }}">
                                                <input type="hidden" id="max_diameter" name="max_diameter" value="{{ filter_attr.max_diameter }}">
                                                <input type="text" id="diameter" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                            </p>
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td><button class="btn hvr-hover" style="color: #fff;font-weight: 600;" type="submit">Filter</button></td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End search filter -->

    <!-- Start Wishlist  -->
    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Size</th>
                                    <th>Diameter</th>
                                    <th>Shape</th>
                                    <th>Cut</th>
                                    <th>Symmetry Cut</th>
                                    <th>Purity</th>
                                    <th>Color</th>
                                    <th>Fluorescence</th>
                                    <th>Price</th>
                                    <th>Add Item</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if products|length == 0 %}
                                    <strong class="alert alert-warning">Oops, No Diamond Founds.</strong>
                                {% endif %}
                                {% for product in products %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="{% url 'user:product-details' pk=product.pk %}"><img class="img-fluid" src="{{ product.images.first.src.url }}" alt="{{ product.images.first.title }}" /></a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="{% url 'user:product-details' pk=product.pk %}">{{ product.title }}</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ product.polish.size }}</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ product.polish.diameter }}</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ product.polish.get_shape_display }}</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ product.polish.get_cut_display }}</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ product.polish.get_symmetry_cut_display }}</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ product.polish.get_purity_display }}</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ product.polish.get_color_display }}</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ product.polish.get_fluorescence_display }}</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ product.price }}</p>
                                    </td>
                                    <td class="add-pr">
                                        <a class="btn hvr-hover" href="{% url 'user:add-cart' product_id=product.pk %}">Add to Cart</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wishlist -->
    <script>
        $(document).ready(function() {
            $("table table td").on("click", function() {
                $(this).toggleClass('active');
                $(this).find('input')[0].checked = !($(this).find('input')[0].checked);
            });
        });
    </script>
{% endblock content %}
