{% extends 'user/base.html' %}
{% block content %}
{% load static %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Wishlist</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'user:home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Wishlist</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Wishlist  -->
    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Unit Price </th>
                                    <th>Add Item</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if wishlists|length == 0 %}
                                    <strong class="alert alert-warning">Oops, you didn't add any item in wishlist yet.</strong>
                                {% endif %}
                                {% for row in wishlists %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="{% url 'user:product-details' pk=row.product.pk %}"><img class="img-fluid" src="{{ row.product.images.first.src.url }}" alt="{{ row.product.images.first.title }}" /></a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="{% url 'user:product-details' pk=row.product.pk %}">{{ row.product.title }}</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ row.product.price }}</p>
                                    </td>
                                    <td class="add-pr">
                                        <a class="btn hvr-hover" href="{% url 'user:add-cart' product_id=row.product.pk %}">Add to Cart</a>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="{% url 'user:remove-wishlist' pk=row.pk %}"><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wishlist -->
{% endblock content %}
